.main-contact {
	padding-right: 25px;
	@include xs-block {
		padding-right: 0;
	}
}

.contact__wrapper {
	display: flex;
	justify-content: space-between;
	@include sm-block {
		display: block;
	}
}

.map {
	width: 100%;
	min-height: 400px;
	background: url(../img/map_bg.jpg) 0 0;
	background-size: cover;
	margin-bottom: 35px;
}

.contact-info {
	@include size(3);
	@include sm-block {
		width: 100%;
		margin-bottom: 20px;
	}
}

.contact-form {
	@include size(9);
	@include sm-block {
		width: 100%;
	}
}

.contact-text {
	color: #414141;
	font-size: 12px;
	p {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 10px;
		padding-right: 5px;
	}
}

.contact__link {
	line-height: 14px;
	color: $accent;
	display: block;
	font-weight: bold;

	&:hover {
		color: $red;
		text-decoration: none;
	}
}

.adress__items {
	line-height: 16px;
	display: block;
	margin-bottom: 7px;
}

.contact__phone {
	line-height: 14px;
	span {
		font-weight: bold;
	}
}

// FORM
.inpt {
	display: block;
	outline: none;
	border: 1px solid $accent;
	color: $accent;
	text-transform: uppercase;
	font-family: $title-font;
	font-size: 14px;
	line-height: 28px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	margin-bottom: 10px;

	&::placeholder {
		color: $accent;
	}
}

.inpt__name,
.inpt__lastname,
.inpt__email {
	min-width: 220px;
}

.inpt__textarea {
	width: 100%;
}

.btn__submit {
	color: $white;
	background: $accent;
	border: 1px solid $accent;
	cursor: pointer;
	font-family: $title-font;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}