$def-font: "helvetica", sans-serif;
$title-font: "bebas", sans-serif;

$accent: #e8603c;
$text: #717171;

$olive: #effeb9;
$olive-black: #98c601;

$red: #fbcbc1;
$red-black: #eb5439;

$yellow: #ffe9ad;
$yellow-black: #fab418;

$blue: #d1e4f3;
$blue-black: #4d8fcb;




$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);